@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css');

// 'vh' reference: http://stanhub.com/how-to-make-div-element-100-height-of-browser-window-using-css-only/
// Center with Flexbox: http://css-tricks.com/centering-css-complete-guide/
// Three column layout based on: http://stackoverflow.com/questions/20566660/3-column-layout-html-css

body {
	font-family: $font-sans;
	color: $color-text-dark;
	background-color: $light-background;
	line-height: 1.4;
	min-width: 1000px;
}

main {
	padding-top: $navbar-height-full;
}

a {
	text-decoration: none;
	color: $color-text-light;
	margin-right: 20px;
	@include transition(all, 0.3s);
}

a:hover {
	cursor: pointer;
	color: $color-text-dark;
}

h1 {
  font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.3rem;
}

.selected {
	border-bottom: 2px solid $navbar-url;
	color: $color-text-light;
}

#navbar {
	background-color: $color-primary;
	color: $color-text-light;
	width: 100%;
	height: $navbar-height-full;
	font-family: $font-sans;
	line-height: $navbar-height-full;
	position: fixed;
	z-index: 999;
	@include box-shadow(0, 2px, 4px, 2px, rgba(0,0,0,0.12));
	@include transition(height, 0.3s);
	
	h1 {
		float: left;
		padding-left: 20px;
		@include transition(all, 0.3s);
	}

	nav {
		float: right;

		a {
			color: $navbar-url;
			margin-right: 20px;
			text-transform: uppercase;
			@include transition(all, 0.3s);
		}

		a:hover {
			cursor: pointer;
			color: $color-text-light;
		}
	}
}

#navbar.smaller {
	height: $navbar-height-small;
	line-height: $navbar-height-small;

	h1 {
	  font-size: 1.5rem;
	}
}

.circular-image {
	@include border-radius(50%);
}

#profile-picture {
	width: 200px;
	margin-bottom: 20px;
}

video {
	z-index: -100;
}

.edu-image {
	height: 200px;
	padding: 20px;	
}

.project-image {
	width: 300px;
	height: 200px;
	margin: 20px;	
}

.center {
	text-align: center;
}

header {
	min-height: calc(100vh - 120px); 
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $color-analogous;
	color: $color-text-light;
}

.clear{
	clear: both;
} 

.left {
	float: left;
	width: 50%;
}

.right {
	float: right;
	width: 50%;
}

#education {
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 60px;
	min-height: calc(100vh - 120px);
	color: $color-text-light;
	background-color: $color-analogous;
	background: url("/img/siebel.jpg") no-repeat fixed;
	@include background-size(cover);
}

.padding {
	padding-left: 30px;
	padding-right: 30px;
}

footer {
	height: 100px;
	background-color: $dark-background;
	color: $color-text-light;
	display: flex; 
	flex-direction: column;
	justify-content: center;
}

.bold {
	font-weight: bold;
}

.upper {
	text-transform: uppercase;
}

#contact {
	overflow: hidden;
	padding-top: 60px;
	padding-bottom: 80px;
	background-color: $color-analogous;
	color: $color-text-light;
}

#projects {
	color: $color-text-dark;
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 60px;
	background-color: $light-background;
}

.modal {
	visibility: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-image:url("/img/modal-bg.png");

	div {
		width: 60%;
		height: 400px;
		background-color: $light-background;
		overflow: scroll;
		margin: 100px auto;
		padding:50px;
		@include border-radius(2px);
		@include box-shadow(0, 8px, 16px, 6px, rgba(0,0,0,0.21));
	}

	a {
		color: $color-analogous;
		@include transition(all, 0s);
	}
}

.multi-column-list {
	overflow: hidden;
	display: inline-block;
	width: 80%;
	padding-left: 10%;

	li {
		line-height: 5rem;
		float: left;
		display: inline;
		text-align: left;
	}
}

#triple li  { 
	width: 33.333%; 
}

.fa {
	vertical-align: middle;
	padding-right: 5px;
}

.column-left { 
	float: left; 
	width: 33.3%; 
}

.column-right { 
	float: right; 
	width: 33.3%; 
}

.column-center { 
	display: inline-block; 
	width: 33.3%; 
}

#about {
	padding-top: 40px;
	color: $color-text-light;
	width: 100%;
	overflow: hidden;
}

#carousel {
	width: 100%;
	overflow: hidden;
	list-style: none;
	position: relative;
	display: inline-block;
	height: 420px;

	img {
		width: 100%;
		position: absolute;
	}

	li {
		float: left;
		text-align: left;
	}
}

#slide-left, #slide-right {
	line-height: 64px;
	font-size: 2rem;
}

.clickable:hover {
	cursor: pointer;
}

#video-container {
	background-color: $dark-background;
	width:100%;
	overflow: hidden;
}