$color-text-light   : #FCFCFC;
$color-text-dark	: #404040;
$color-primary      : #242F69;
$color-analogous	: #3F78B5; 
$color-triadic-1	: #B53F51;
$color-triadic-2	: #51B53F;
$navbar-url			: #C5CAE9;
$gray				: #f3f3f3;



$font-serif: Merriweather, serif;
$font-sans: Open Sans, sans-serif;

$default-border-radius : 10px;
$navbar-height-full: 120px;
$navbar-height-small: 64px;